# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# macOS system files
.DS_Store
**/.DS_Store

#ignore the .class files created when compiled
*.class

*/*.class